@import "/src/assets/styles/common";

.about {
    background-color: #232023;
    color: $site-color;
    font-family: $primary-font-family;
    font-size: $text-md;
    line-height: 2.5rem;

    &__banner--bodywork {
        @include flex-center;
        background: url(/assets/images/hands-on-head.jpg) no-repeat;
        background-size: cover;
        background-position: 50%;
        padding: 0 $space-lg;
        height: 535px;
        flex-direction: column;
        font-size: 3.7rem;
        line-height: 52px;
        text-align: center;
        width: 100%;
    }
    &__banner--bodywork span {
        max-width: 520px;
        margin-bottom: $space-md;
        text-shadow: $text-shadow;
        width: 100%;
    }

    &__button {
        @include button;
        font-size: $text-md;
    }

    &__content {
        padding: 0 $space-sm;
        width: 100%;
    }

    &__header {
        background-color: $black;
        display: flex;
        justify-content: space-evenly;
        padding-top: 80px;
    }

    &__heading {
        align-items: center;
        display: flex;
        font-size: $text-xl * 2;
        justify-content: space-evenly;
        line-height: 50px;
        margin-bottom: $space-xl;
        width: 480px;
        // margin: $space-md 0;
        // text-align: center;
    }

    &__image {
        &--profile {
            max-width: 600px;
        }

        &--one,
        &--two {
            height: 225px;
            position: absolute;
        }

        &--one {
            top: 0;
            right: 0;
            z-index: 2;
        }

        &--two {
            bottom: 0;
            right: 0;
        }

        &--profile,
        &--three,
        &--four,
        &--five {
            width: 100%;
        }
    }

    &__image-overlap {
        position: relative;
        width: 100%;
    }

    &__link-container {
        display: flex;
        justify-content: space-evenly;
        margin: $space-md 0;
    }

    &__row,
    &__row--ballroom, 
    &__row--discovery,
    &__row--pop,
    &__row--intro {
        display: flex;
        justify-content: space-between;
        margin: $space-xxl auto;
        max-width: 1024px;
        width: 100%;

        &--text {
            max-width: 465px;
            width: 100%;
        }

        p {
            &:first-of-type {
                margin-bottom: $space-md;
            }
        }
    }

    &__row--ballroom {
        flex-direction: column;
        max-width: 680px;
    }

    &__row--discovery {
        flex-direction: row;
        margin-top: $space-md;
    } 
    
    &__row--pop {
        margin-bottom: $space-md;
    }

    &__row--intro {
        max-width: 630px;
        text-align: center;
    }

    &__image-row {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1400px;
        img {
            max-width: 640px;
            width: 100%;
        }
    }

    &__banner--bodywork,
    &__heading {
        @include title-text;
    }

    @media (max-width: 1024px) {
        &__content {
            padding: 0 $space-md;
        }
    }

    @media (max-width: 768px) {
        padding-top: 70px;

        &__banner--bodywork {
            margin-top: $space-xl;
        }

        &__content {
            font-size: 1.5rem;
            width: 100%;
        }

        &__heading {
            font-size: $text-xs * 2;
        }

        &__row {
            align-items: center;
            &:nth-of-type(even) {
                flex-direction: column;
            }
            &:nth-of-type(odd) {
                flex-direction: column;
            }
        }
    }
}
