@import "/src/assets/styles/common";

.loader {
    @include gradientHomepage;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100%;

    img {
        padding: 0 3rem;
    }
}
