@import "/src/assets/styles/common";

.loader {
    @include gradientHomepage;
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 100%;

    img {
        padding: 0 40px;
    }

    svg {
        animation: spinner 2s infinite linear;
        color: $site-color;
        font-size: 3rem;
        margin-top: 20px;
    }
}
