@import "/src/assets/styles/common";

.films {
    background-color: #141414;
    color: $site-color;
    font-family: $primary-font-family;
    font-size: $text-md;
    
    &__content {
        @include flex-center;
        flex-direction: column;
        margin-top: $space-xl;
        padding: 0 $space-xl;
    }

    &__credits {
        font-size: $text-xs;
    }

    &__credits-container {
        margin-top: $space-lg;

        h5 {
            margin-bottom: $space-sm;
        }
    }

    &__film-container {
        @include flex-center;
        flex-direction: column;
        margin-bottom: $space-xxl * 2;
        max-width: 1133px;
        width: 100%;

        &:last-of-type {
            margin-bottom: $space-xxl;
        }
    }

    &__film-heading {
        font-family: $secondary-font-family;
        font-size: $text-xl * 2;
        font-weight: $base-font-weight;
        margin-bottom: $space-lg;
    }

    &__film-player {
        margin-bottom: $space-lg;
        max-width: 1230px;
        width: 100%;
    }

    &__film-text {
        max-width: 700px;
        text-align: center;
        width: 100%;
    }

    &__intro-container {
        @include flex-center;
        flex-direction: column;
        margin-bottom: $space-xxl;
        max-width: 600px;
        width: 100%;
    }

    @media (max-width: 768px) {
        &__content {
            padding: 0 $space-md;
        }

        &__film-heading {
            font-size: $text-xxl;
        }
    }

}