@import "/src/assets/styles/common";

.contact-banner {
    background: url(/assets/images/purple-flower.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-left: 24px;
    padding-right: 24px;
    height: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 2em;
    width: 100%;
    box-sizing: border-box;

    &__inner {
        width: 100%;
        max-width: 596px;
        font-size: 17px;
        letter-spacing: -0.79px;
        line-height: 2em;
        text-align: center;
    }
    &__title {
        font-family: $secondary-font-family;
        font-size: 46px;
        letter-spacing: -0.51px;
        line-height: 70px;
        text-align: center;
        font-weight: 400;
        text-transform: none;
        margin-bottom: 26px;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
