@import "/src/assets/styles/common";

.contact-banner {
    @include flex-center;
    background: url(/assets/images/purple-flower.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 0 $space-lg;
    height: 418px;
    text-transform: uppercase;
    line-height: 2em;
    width: 100%;

    &__inner {
        width: 100%;
        max-width: 596px;
        font-size: $text-md;
        line-height: 2em;
        text-align: center;
    }
    &__title {
        font-family: $secondary-font-family;
        font-size: $text-xl * 2;
        line-height: 70px;
        text-align: center;
        text-transform: none;
        margin-bottom: 26px;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    a {
        color: $site-color;
        text-decoration: none;
    }
}
