@import "/src/assets/styles/common";

.about-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 190px;

    &__content {
        font-family: $base-font-family;
        font-weight: 300;
        font-size: 21px;
        line-height: 27px;
        letter-spacing: -0.25px;
        font-style: normal;
        max-width: 756px;
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
    }
    &__title {
        font-family: $secondary-font-family;
        font-size: 52px;
        letter-spacing: -0.62px;
        line-height: 47px;
        margin-bottom: 17px;
    }
    &__text {
        width: 50%;
    }
    &__column {
        flex: 1;
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: -42px;
        background: url(/assets/01_landing/transparent-body.png) no-repeat;
        background-size: cover;
        width: 676px;
        height: 450px;
        pointer-events: none;
    }
    &__button,
    .indexSomaticSex-button {
        margin-top: 35px;
        width: fit-content;
        z-index: 999;
    }
    @media (max-width: 786px) {
        font-size: 15px;
        letter-spacing: -0.18px;
        line-height: 20px;
        display: block;
        padding-bottom: 0;
        padding-top: 80px;

        &__content {
            display: block;
        }
        &__title {
            font-family: $secondary-font-family;
            font-size: 29px;
            letter-spacing: -0.34px;
            line-height: 1.1;
        }
        &__text {
            width: 100%;
        }
        &__image {
            position: unset;
            width: 98%;
            height: 200px;
            margin-left: 2%;
            background-size: contain;
            margin-bottom: -20px;
            background-position: 100% 100%;
        }
    }
}
