@import "/src/assets/styles/common";

.about-preview {
    @include flex-center;
    position: relative;
    margin: 8rem 0;

    &__content {
        font-family: $primary-font-family;
        font-weight: 300;
        font-size: rem(21px);
        max-width: rem(756px);
        display: flex;
        padding: 0 rem(24px);
    }
    &__title {
        font-family: $secondary-font-family;
        font-size: 3.25em;
        margin-bottom: rem(17px);
    }
    &__text {
        width: 50%;
        margin-bottom: rem(17px);
    }
    &__column {
        z-index: 2;
    }
    &__image {
        position: absolute;
        right: 0px;
        background: url(/assets/images/transparent-body.png) no-repeat;
        background-size: cover;
        width: 49.25rem;
        height: 31.125rem;
        pointer-events: none;
    }
    &__button {
        @include button;

        &:first-of-type {
            margin-bottom: rem(17px);
        }
    }

    @media (max-width: 768px) {
        font-size: rem(15px);
        display: block;

        &__button {
            &:last-of-type {
                font-size: 17px;
                padding: 0 1em;
            }
        }

        &__column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            margin: 0 auto;
        }
        &__title {
            font-family: $secondary-font-family;
            font-size: em(32px);
        }
        &__text {
            width: 100%;
            text-align: center;
            margin: 0.5rem 0 2rem;
        }
        &__image {
            position: unset;
            max-width: 35rem;
            width: 100%;
            height: 24.5rem;
            background-size: contain;
            background-position: 100% 100%;
            margin: 0 auto;
        }
    }
}
