@import "/src/assets/styles/common";

.subscribe-homepage {
    @include gradientHomepage180;
    @include flex-center;
    flex-direction: column;
    font-family: $primary-font-family;
    padding: 128px 0;

    &__title {
        margin-bottom: 16px;
        text-align: center;
    }

    &__text {
        max-width: 592px;
        text-align: center;
    }

    @media (max-width: 446px) {
        padding-top: 106px;
        padding-bottom: 115px;

        &__title {
            font-family: $secondary-font-family;
            font-size: 2.9rem;
            line-height: 50px;
        }
        &__text {
            line-height: 20px;
        }

        &__text {
            font-size: $text-sm;
        }
    }
}
