@import "/src/assets/styles/common";

.origine {
    background-color: #222023;
    color: $site-color;
    font-family: $primary-font-family;

    &__header {
        @include flex-center;
        flex-direction: column;
        height: 100vh;
        padding: 0 $space-lg;
        position: relative;
        width: 100%;
    }

    &__image--full {
        margin-bottom: $space-lg;
    }

    &__logo--header {
        display: block;
        max-width: 452px;
        width: 100%;
        z-index: 2;
    }
    &__video-overlay--header {
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    &__video-player--header,
    &__video-overlay--header {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__video-player--header {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        z-index: 0;
    }
    &__content {
        @include flex-center;
        flex-direction: column;
        margin: $space-xl 0;
    }
    &__text {
        font-size: $text-md;
        line-height: 2.5rem;
        margin-bottom: $space-lg;
        max-width: 696px;
        width: 100%;
    }

    &__media-row {
        display: flex;
        justify-content: space-evenly;
        max-width: 1440px;
        width: 100%;
        padding: 0 $space-lg $space-lg;

        .origine__video-column,
        img {
            width: 50%;
            margin: 0 $space-sm;
        }
    }

    &__media-row--single {
        justify-content: center;

        .origine__video-column {
            width: 80%;
        }
    }

    &__quote {
        @include flex-center;
        background: url(/assets/images/purple-stems.jpg);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        margin-bottom: $space-lg;
        min-height: 572px;
    }
    &__quote-container {
        max-width: 1200px;
        padding: 0 $space-lg;
        text-shadow: 1px 1px 2px $black;
    }
    &__quote-text {
        font-family: $secondary-font-family;
        font-weight: $bold-font-weight;
        font-size: $text-xl * 2;
        line-height: 60px;
    }

    &__quote-author {
        font-size: $text-sm;
        line-height: 25px;
        margin-top: $space-sm;
        max-width: 500px;
    }

    @media (max-width: 768px) {
        &__image--full {
            margin-bottom: $space-xxs;
        }

        &__media-row {
            align-items: center;
            flex-direction: column;
            margin-bottom: $space-md;
            padding: 0;

            img,
            .origine__video-column {
                margin-top: $space-md;
                padding: 0;
                width: 80%;
            }
        }

        &__quote {
            margin-bottom: 0;
        }

        &__quote-text {
            font-size: $text-xxl;
            line-height: 45px;
        }

        &__text {
            padding: 0 $space-md;
        }
    }

    @media (max-width: 446px) {
        &__text {
            font-size: $text-sm;
            line-height: 20px;
        }
        &__controls {
            align-items: center;
            flex-direction: column;
        }
        &__button-spacer {
            height: 50px;
        }

        &__quote {
            height: 400px;
        }

        &__quote-text {
            font-size: $text-xl;
            line-height: 32px;
        }
    }
}
