@import "/src/assets/styles/common";

.header {
    background-color: $black;
    color: $site-color;
    display: flex;
    font-size: rem(17px);
    justify-content: flex-end;
    left: 0;
    padding: 0.6rem 1rem;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;
    transition: background-color 0.2s ease-in-out;
    z-index: 10;

    &__control--open {
        background: none;
        border: none;
        color: $site-color;
        cursor: pointer;
        font-weight: $bold-font-weight;
        margin-left: rem(27px);

        &:hover {
            color: #fff49e;
        }
    }
}
