@import "/src/assets/styles/common";


.calendar {
    background-color: $black;
    height: 100vh;
    @include flex-center;

    &__cell, &__cell--project {
        font-size: $text-xs;
        width: 80px;
    }

    &__cell--project {
        width: 140px;
    }

    &__container {
        color: $white;
        max-width: 1000px;
        padding: 0 $space-xl;
        width: 100%;
    }

    &__entry, &__heading {
        display: flex;
        justify-content: space-between;
        padding: $space-lg 0;
        width: 100%;
    }

    &__entry {
        border-bottom: 1px solid $white;

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__heading {
        border-bottom: 3px solid $white;
    }

    &__link {
        div {
            @include button;
            font-size: $text-xs;
            height: unset;
            padding: 0 $space-sm;
        }
    }

    @media (max-width: 768px) {
        &__container {
            margin-top: $space-xxl;
        }    

        &__entry {
            flex-direction: column;
        }
    
        &__heading {
            display: none;
        }
    }
}