@import "/src/assets/styles/common";

.footer {
    color: $site-color;
    display: flex;
    height: 235px;
    justify-content: space-evenly;
    padding-top: 50px;
    width: 100%;

    &--blue {
        background-color: #051320;
    }

    &__anchor--icon {
        font-size: 2rem;
        margin: 5px;
        padding: 5px;
        width: 60px;

        svg {
            margin: 0 auto;
        }
    }

    &__column {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
        width: 150px;
    }

    a {
        color: $site-color;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;
        height: 600px;
        margin-top: 0;
        text-align: center;

        &__anchor--icon {
            font-size: 3rem;
        }

        &__column {
            width: unset;
        }
    }
}
