@import "/src/assets/styles/common";

.footer {
    color: $site-color;
    display: flex;
    font-size: $text-sm;
    height: 235px;
    justify-content: space-evenly;
    padding-top: $space-xl;
    width: 100%;

    &--blue {
        background-color: #051320;
    }

    &__anchor--icon {
        font-size: $text-lg;
        margin: $space-xxs;
        padding: $space-xxs;
        width: 50px;

        svg {
            margin: 0 auto;
        }
    }

    &__column {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: $space-xxs;
        width: 150px;
    }

    a {
        color: $site-color;
        text-decoration: none;

        &:hover {
            color: $site-color-light;
        }
    }

    @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;
        height: 600px;
        margin-top: 0;
        text-align: center;

        &__anchor--icon {
            font-size: 3rem;
        }

        &__column {
            width: unset;
        }
    }
}
