@import "/src/assets/styles/common";

.podcast {
    background-color: #111426;
    color: $site-color;
    font-family: $primary-font-family;
    font-size: $text-md;

    &__banner--inner {
        border-radius: 20px;
        max-width: 400px;
        width: 100%;
    }

    &__credits {
        font-size: $text-xs;
    }

    &__credits-container {
        margin: 0 auto;
        margin-top: $space-lg;
        max-width: 700px;
        text-align: center;
        width: 100%;

        h5 {
            margin-bottom: $space-sm;
        }
    }
    
    &__content {
        @include flex-center;
        flex-direction: column;
    }

    &__episode-container {
        @include flex-center;
        flex-direction: column;
        margin-bottom: $space-xxl;
        max-width: 1133px;
        width: 100%;
    }

    &__episode-heading {
        font-family: $secondary-font-family;
        font-size: $text-lg * 2;
        margin-bottom: $space-lg;
    }

    &__episode-player {
        margin-bottom: $space-lg;
    }

    &__episode-text {
        max-width: 700px;
        width: 100%;
    }

    &__intro-container {
        @include flex-center;
        flex-direction: column;
        margin-bottom: $space-xxl;
        max-width: 600px;
        width: 100%;
    }

    &__intro-heading {
        font-family: $secondary-font-family;
        font-size: $text-xxl * 2;
        margin-bottom: $space-lg;
        text-align: center;
        word-wrap: break-word;
    }

    @media (max-width: 768px) {
        &__content {
            padding: 0 $space-md;
        }
    }

}