@import "/src/assets/styles/common";

.podcast {
    background-color: #141414;
    color: $site-color;
    font-family: $primary-font-family;
    font-size: $text-md;

    &__banner {

    }

    &__content {

    }

    &__text{

    }

    &__player {
        
    }
}