@import "/src/assets/styles/common";

.principle {
    background-color: #232023;
    color: $site-color;
    font-family: $primary-font-family;
    font-size: $text-md;
    line-height: 2.5rem;

    &__button {
        @include button;
        font-size: $text-md;
    }

    &__header {
        background-color: $black;
        display: flex;
        position: relative;
        width: 100%;
    }

    &__images {
        background-color: #A60046;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1400px;
        padding: $space-md;
        img {
            margin: $space-xs 0;
            max-width: 475px;
            width: 100%;
        }
        
        .principle__image--seven {
            max-width: 985px;
            width: 100%;
        }
    }

    &__image {
        &--title {
            left: 50%;
            max-width: 500px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &--seven {
          
        }

    }

    &__intro {
        @include flex-center;
        background-color: #A60046;
        padding: 0 $space-xxl;
        width: 100%;
        
        img {
            height: 100%;
            max-width: 800px;
            position: relative;
            top: 50px;
            width: 100%;
            z-index: 2;
        }
    }

    &__link-container {
        @include flex-center;
        justify-content: space-around;
        margin: $space-xxl 0;
        max-width: 720px;
        width: 100%;
    }

    &__trailers {
        background-color: #A60046;
        display: flex;
        justify-content: space-between;
        margin: $space-xxl auto;
        max-width: 1024px;
        margin-top: 0;
        padding: $space-sm;
        width: 100%;
    }
    
    &__text-container {
        @include flex-center;
        background-color: $black;
        color: #BE0050;
        padding: 0 $space-md;
    }
    
    &__text {
        bottom: 100px;
        background-color: transparent;
        max-width: 640px;
        position: relative;
        width: 100%;
    }

    &__video-column {
        width: 45%;
    }

    @media (max-width: 1100px) {

    }

    @media (max-width: 1024px) {
        
    }

    @media (max-width: 768px) {

       
    }

    @media (max-width: 425px) {

    }

}