@import "/src/assets/styles/common";

.principle {
    background-color: #232023;
    color: $site-color;
    font-family: $secondary-font-family;
    font-size: $text-md;
    font-weight: $bold-font-weight;
    line-height: 2.5rem;

    &__button {
        @include button;
        font-size: $text-md;
    }

    &__credits {
        div {
            margin: $space-xs 0;
        }

        h2 {
            margin-bottom: $space-xl;
        }
    }

    &__images {
        align-items: center;
        background-color: #A60046;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1000px;
        padding: $space-sm;
    }
    
    &__image {
        margin: $space-xs 0;
        max-width: 475px;
        padding: 0 $space-xs;
        width: 100%;

        &--title {
            left: 50%;
            max-width: 500px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &--seven {
            max-width: 985px;
        }

    }

    &__intro {
        @include flex-center;
        background-color: #A60046;
        padding: 0 $space-xxl;
        width: 100%;
        
        img {
            height: 100%;
            max-width: 800px;
            position: relative;
            top: 50px;
            width: 100%;
            z-index: 2;
        }
    }

    &__link-container {
        @include flex-center;
        color: #F14A4A;
        justify-content: space-around;
        margin: $space-xl * 2 0;
        max-width: 720px;
        width: 100%;
    }

    &__link-target {
        color: $black;
        padding: $space-xxl 0 $space-xl;
        text-align: center;
    }

    &__media {
       background-color: #A60046; 
       width: 100%;
    }

    &__trailers {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1000px;
        margin-top: 0;
        padding: $space-sm;
        width: 100%;
    }
    
    &__text-container {
        @include flex-center;
        background-color: $black;
        color: #BE0050;
        padding: 0 $space-md;
    }
    
    &__text {
        bottom: 100px;
        background-color: transparent;
        max-width: 650px;
        position: relative;
        text-align: center;
        width: 100%;
    }

    &__video-column {
        width: 48%;
    }

    @media (max-width: 1024px) {
    }
    
    @media (max-width: 973px) {
        &__images {
            justify-content: center;
        }

        &__image--seven {
            max-width: 475px;
        }
    }

    @media (max-width: 768px) {

       
    }

    @media (max-width: 425px) {

    }

}