@import "/src/assets/styles/common";

.interviews {
    background-color: $black;
    color: $site-color;
    font-family: $primary-font-family;
    font-size: $text-md;

    &__button {
        @include button;
    }

    &__header {
        @include header;
        @include flex-center;
        position: relative;
        height: 100vh;
        text-shadow: $text-shadow;
    }
    &__header-text {
        font-size: $text-xl * 2;
        padding: 0 $space-lg;
        text-align: center;
        z-index: 2;
    }
    &__video-header {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__video-header,
    &__video-header-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &__video-header-overlay {
        background-color: rgba(0, 0, 122, 0.2);
    }

    &__video-container {
        width: 50%;
    }

    &__intro {
        max-width: 730px;
        margin: $space-xl auto;

        p:first-of-type {
            margin-bottom: $space-sm;
        }
    }

    &__videos {
        max-width: 1135px;
        margin: 0 auto;
    }
    &__videos-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $space-xl;
    }
    &__videos-text {
        flex: 1;
        font-size: $text-md;
        max-width: 730px;
        margin-bottom: $space-lg;
    }

    @media (min-width: 1170px) {
        &__videos-row {
            flex-direction: row;
            margin-bottom: $space-xxl;
        }
        &__videos-text {
            margin-bottom: 0;
        }
        &__videos-row--left &__videos-text {
            margin-left: $space-lg;
            order: 2;
        }
        &__videos-row--right &__videos-text {
            margin-right: $space-lg;
        }
        &__videos-row--center {
            flex-direction: column;
        }
        &__videos-row--center &__videos-text {
            max-width: 800px;
            margin-top: $space-lg;
            order: 2;
        }
        &__videos-row--center &__video-player {
            max-width: 800px;
            height: 450px;
        }
    }
    &__videos-text h2 {
        font-family: $secondary-font-family;
        font-size: $text-xl * 2;
        letter-spacing: 2px;
        line-height: 50px;
        margin-bottom: $space-md;
        padding: 0;
    }

    &__support {
        background-color: #171b1d;
        padding: $space-lg;
        margin-bottom: $space-xxl;
    }
    &__logos-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 900px;
        margin: $space-lg auto;

        img {
            max-height: 60px;
        }
    }

    @media (max-width: 768px) {
        font-size: $text-sm;

        &__header {
            height: 400px;
            font-family: $secondary-font-family;
        }

        &__header-text {
            font-size: $text-lg * 2;
        }

        &__intro,
        &__videos {
            padding: 0 $space-sm;
        }

        &__logos-row {
            align-items: center;
            flex-direction: column;
        }
        &__support img {
            margin: $space-lg 0;
        }
        &__video-container {
            width: 100%;
        }

        &__videos-text {
            font-size: $text-sm;
        }

        &__videos-text h2 {
            font-size: $text-sm * 2;
            line-height: 35px;
        }
    }
}
