@import "/src/assets/styles/common";

.interviews {
    background-color: #0f1214;
    color: $site-color;
    font-family: $primary-font-family;

    &__button {
        @include button;
    }

    &__header {
        @include flex-center;
        position: relative;
        height: 100vh;
        font-family: $secondary-font-family;
        font-size: 5.2rem;
        line-height: 80px;
    }
    &__header-text {
        z-index: 2;
        padding: 0 $space-lg;
        text-align: center;
        color: #d2ba3b;
    }
    &__video-header {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__video-header,
    &__video-header-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &__video-header-overlay {
        background-color: rgba(0, 0, 122, 0.2);
    }

    &__video-container {
        width: 50%;
    }

    &__intro {
        max-width: 729px;
        font-size: 2.5rem;
        line-height: 4rem;
        margin: 123px auto 117px;
    }
    &__intro,
    &__videos {
        padding: 0 $space-lg;
    }
    &__videos {
        max-width: 1135px;
        margin: 0 auto;
    }
    &__videos-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 68px;
    }
    &__videos-text {
        flex: 1;
        font-size: 1.9rem;
        line-height: 25px;
        max-width: 729px;
        margin-bottom: $space-lg;
    }

    @media (min-width: 1170px) {
        &__videos-row {
            flex-direction: row;
            margin-bottom: 225px;
        }
        &__videos-text {
            margin-bottom: 0;
        }
        &__videos-row--left &__videos-text {
            margin-left: 66px;
            order: 2;
        }
        &__videos-row--right &__videos-text {
            margin-right: 66px;
        }
        &__videos-row--center {
            flex-direction: column;
        }
        &__videos-row--center &__videos-text {
            max-width: 802px;
            margin-top: $space-lg;
            order: 2;
        }
        &__videos-row--center &__video-player {
            max-width: 802px;
            height: 451px;
        }
    }
    &__videos-text h2 {
        font-family: $secondary-font-family;
        font-size: $text-xl * 2;
        letter-spacing: 2px;
        line-height: 70px;
        margin: 0 0 17px;
        padding: 0;
    }

    .interviewsLogos {
        background-color: #171b1d;
        padding: $space-lg 0;
        margin-bottom: 100px;
    }
    .interviewsLogos-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        padding: $space-lg;
    }
    .calq-logo {
        width: 204px;
    }
    .cca-logo {
        max-width: 357px;
        width: 100%;
    }
    .logoThc {
        width: 158px;
    }
    .sacd-logo {
        width: 117px;
        height: 84px;
    }
    .goethe-logo {
        width: 217px;
    }

    @media (max-width: 768px) {
        &__header {
            height: 400px;
            font-family: $secondary-font-family;
            font-size: 3rem;
            line-height: 4rem;
        }

        .interviewsLogos-row {
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;
            align-items: center;
        }
        .interviewsLogos img {
            margin: $space-lg 0;
        }
        &__video-container {
            width: 100%;
        }
    }
}
