@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    @include flex-center;
    background-color: transparent;
    border: 1px solid $site-color;
    border-radius: 20px;
    color: $site-color;
    cursor: pointer;
    font-family: $base-font-family;
    font-size: rem(20px);
    font-style: italic;
    height: rem(40px);
    line-height: rem(23px);
    padding: 0 rem(27px);
    text-decoration: none;
    width: fit-content;

    &:active:enabled,
    &:hover {
        color: #d3c666;
        border-color: #d3c666;
    }

    &:focus:enabled {
        box-shadow: none;
    }
}

@mixin gradientHomepage {
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 0%) 6%,
        hsl(210deg 100% 0%) 28%,
        hsl(200deg 100% 1%) 37%,
        hsl(210deg 67% 1%) 42%,
        hsl(204deg 71% 1%) 46%,
        hsl(206deg 78% 2%) 50%,
        hsl(207deg 82% 2%) 52%,
        hsl(204deg 83% 2%) 54%,
        hsl(207deg 73% 3%) 56%,
        hsl(208deg 76% 3%) 58%,
        hsl(206deg 78% 4%) 60%,
        hsl(210deg 80% 4%) 61%,
        hsl(208deg 81% 4%) 63%,
        hsl(208deg 83% 5%) 64%,
        hsl(210deg 77% 5%) 65%,
        hsl(209deg 78% 5%) 67%,
        hsl(209deg 79% 6%) 69%,
        hsl(209deg 81% 6%) 71%,
        hsl(208deg 81% 6%) 73%,
        hsl(209deg 77% 7%) 77%,
        hsl(208deg 78% 7%) 82%,
        hsl(208deg 79% 7%) 95%
    );
}
