@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    @include flex-center;
    background-color: transparent;
    border: 1px solid $site-color;
    border-radius: 20px;
    color: $site-color;
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: $text-lg;
    font-style: italic;
    height: 40px;
    padding: 0 20px;
    text-decoration: none;
    width: fit-content;

    &:active:enabled,
    &:hover {
        color: #d3c666;
        border-color: #d3c666;
    }

    &:focus:enabled {
        box-shadow: none;
    }
}

@mixin input {
    width: 100%;
    margin-bottom: $space-lg;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid $site-color;
    padding: $space-md;
    color: $site-color-light;
    appearance: none;
    font-size: $text-lg;

    &:hover {
        border-color: $site-color-light;
    }
    &::placeholder {
        color: $site-color;
        text-transform: uppercase;
    }
    &:invalid {
        color: $site-color;
    }
}

@mixin select-arrow {
    background-image: linear-gradient(45deg, transparent 50%, $site-color 50%),
        linear-gradient(135deg, $site-color 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
    background-position: calc(100% - 25px) calc(1em + 11px), calc(100% - 15px) calc(1em + 11px), 100% 0;
    background-size: 8px 8px, 10px 8px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

@mixin gradientHomepage {
    background-image: linear-gradient(
        0deg,
        hsl(0deg 0% 0%) 6%,
        hsl(210deg 100% 0%) 28%,
        hsl(200deg 100% 1%) 37%,
        hsl(210deg 67% 1%) 42%,
        hsl(204deg 71% 1%) 46%,
        hsl(206deg 78% 2%) 50%,
        hsl(207deg 82% 2%) 52%,
        hsl(204deg 83% 2%) 54%,
        hsl(207deg 73% 3%) 56%,
        hsl(208deg 76% 3%) 58%,
        hsl(206deg 78% 4%) 60%,
        hsl(210deg 80% 4%) 61%,
        hsl(208deg 81% 4%) 63%,
        hsl(208deg 83% 5%) 64%,
        hsl(210deg 77% 5%) 65%,
        hsl(209deg 78% 5%) 67%,
        hsl(209deg 79% 6%) 69%,
        hsl(209deg 81% 6%) 71%,
        hsl(208deg 81% 6%) 73%,
        hsl(209deg 77% 7%) 77%,
        hsl(208deg 78% 7%) 82%,
        hsl(208deg 79% 7%) 95%
    );
}

@mixin gradientHomepage180 {
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 0%) 6%,
        hsl(210deg 100% 0%) 28%,
        hsl(200deg 100% 1%) 37%,
        hsl(210deg 67% 1%) 42%,
        hsl(204deg 71% 1%) 46%,
        hsl(206deg 78% 2%) 50%,
        hsl(207deg 82% 2%) 52%,
        hsl(204deg 83% 2%) 54%,
        hsl(207deg 73% 3%) 56%,
        hsl(208deg 76% 3%) 58%,
        hsl(206deg 78% 4%) 60%,
        hsl(210deg 80% 4%) 61%,
        hsl(208deg 81% 4%) 63%,
        hsl(208deg 83% 5%) 64%,
        hsl(210deg 77% 5%) 65%,
        hsl(209deg 78% 5%) 67%,
        hsl(209deg 79% 6%) 69%,
        hsl(209deg 81% 6%) 71%,
        hsl(208deg 81% 6%) 73%,
        hsl(209deg 77% 7%) 77%,
        hsl(208deg 78% 7%) 82%,
        hsl(208deg 79% 7%) 95%
    );
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
