$primary-font-family: "AktiveGrotesk", "Questrial", sans-serif; // aktiv grotesk

$secondary-font-family: "Ogg", "Tinos", serif; // Ogg

$root-font-size: 16px;

$base-font-weight: 400;

$bold-font-weight: 700;

// font-sizing start

$xxs-font: rem(9px);

$xs-font: rem(11px);

$sm-font: rem(12px);

$med-font: rem($root-font-size);

$lg-font: rem(18px);

$xl-font: rem(24px);

$xxl-font: rem(32px);

// font-sizing end
