$primary-font-family: "AktiveGrotesk", "Questrial", sans-serif; // aktiv grotesk

$secondary-font-family: "Ogg", "Tinos", serif; // Ogg

$root-font-size: 16px;

$base-font-weight: 400;

$bold-font-weight: 700;

// font-sizing start

$xxs-text: 1.2rem;

$xs-text: 1.4rem;

$sm-text: 1.6rem;

$med-text: 1.8rem;

$lg-text: 2.1rem;

$xl-text: 2.4rem;

$xxl-text: 3.2rem;

// font-sizing end
