@import "/src/assets/styles/common";

.interviews-preview {
    @include gradientHomepage180;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: $space-xxl;

    &__button {
        @include button;
    }

    &__title {
        font-family: $secondary-font-family;
        font-size: $text-xl * 2;
        line-height: 5rem;
        margin-bottom: $space-lg;
        text-align: center;
    }
    &__text {
        font-size: $text-md;
        margin-bottom: $space-md;
        max-width: 680px;
        text-align: center;
    }
    &__videos {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $space-md;
        width: 100%;
    }

    &__videos-column {
        width: 40%;
    }

    &__video-name {
        display: flex;
        justify-content: flex-start;
    }

    @media (max-width: 768px) {
        &__title {
            font-size: $text-xl;
            font-weight: $bold-font-weight;
            padding: 0 $space-sm;
            margin-bottom: $space-sm;
        }
        &__text {
            font-size: $text-sm;
            padding: 0 $space-sm;
        }
        &__videos {
            align-items: center;
            flex-direction: column;
        }

        &__videos-column {
            margin-bottom: $space-lg;
            width: 80%;
        }
    }
}
