@import "/src/assets/styles/common";

.interviews-preview {
    margin: rem(55px) rem(16px);
    &__button {
        @include button;
    }

    &__videos {
        font-family: $primary-font-family;
        font-size: rem(21px);
        font-weight: 300;
    }
    &__videos-wrapper {
        max-width: rem(1230px);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: $secondary-font-family;
        font-size: em(46px);
        line-height: 3.2rem;
        margin-bottom: rem(20px);
        text-align: center;
    }
    &__text {
        max-width: rem(680px);
        text-align: center;
        margin-bottom: 2.2rem;
    }
    &__videos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &__videos-col {
        flex: 1;

        div {
            text-align: start;
        }
    }
    &__video-player {
        width: rem(550px);
        height: rem(337px);
    }
    @media (max-width: 1300px) {
        &__video-player {
            width: rem(420px);
        }
    }

    @media (max-width: 768px) {
        &__text {
            padding: 0 rem(20px);
        }

        &__videos {
            flex-direction: column;
            width: unset;
        }

        &__videos-col {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: rem(42px);

            div {
                align-self: flex-start;
                margin-top: 1rem;
                padding: 0;
            }
        }

        &__video-player {
            margin: 0 auto;
            width: rem(600px);
        }
    }
    @media (min-width: 769px) {
        &__videos-col:first-child {
            margin-right: rem(34px);
        }
    }

    @media (max-width: 440px) {
        &__video-player {
            width: rem(425px);
        }
    }
}
