@import "/src/assets/styles/common";

.interviews-preview {
    @include gradientHomepage180;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2.1rem;
    height: 100%;
    &__button {
        @include button;
    }

    &__title {
        font-family: $secondary-font-family;
        font-size: 4.6rem;
        line-height: 5rem;
        margin-bottom: 30px;
        text-align: center;
    }
    &__text {
        max-width: 680px;
        text-align: center;
        margin-bottom: 22px;
    }
    &__videos {
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__videos-column {
        width: 40%;
    }

    &__video-name {
        display: flex;
        justify-content: flex-start;
    }

    @media (max-width: 768px) {
        &__videos {
            align-items: center;
            flex-direction: column;
        }

        &__videos-column {
            margin-bottom: 24px;
            width: 80%;
        }
    }
}
