@import "/src/assets/styles/common";

.origine-preview {
    font-family: $primary-font-family;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: rem(142px) 0 rem(62);

    &__button {
        @include button;
    }

    &__section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    &__video {
        flex: 1;
        max-width: calc(50% - rem(24px));
        order: -1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
        padding: 0 rem(24px);
        padding-top: 4%;
    }
    &__logo {
        background-image: url(/assets/svg/odm-logo.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        height: rem(150px);
        width: 100%;
        box-sizing: border-box;
        margin-bottom: rem(24px);
    }
    &__logo--lower,
    &__logo--upper {
        display: none;
    }
    &__text {
        font-size: 1.3rem;
        max-width: rem(521px);
    }
    &__spacer {
        height: rem(35px);
    }
    @media (max-width: 446px) {
        &__button {
            font-size: rem(30px);
            height: rem(60px);
        }
        &__section {
            align-items: center;
            flex-direction: column;
        }
        &__video {
            order: 1;
            max-width: 100%;
            margin: 4rem 0;
        }
        &__content {
            align-items: center;
            padding-top: 0;
            text-align: center;
        }
        &__logo {
            background: none;
        }
        &__logo--upper {
            display: block;
            max-width: rem(280px);
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            margin: auto;
        }
        &__logo--lower {
            display: block;
            font-family: $secondary-font-family;
            text-align: center;
        }
        &__logo--ou {
            vertical-align: 0.7em;
            margin-right: 0.6rem;
        }
        &__logo--odm {
            font-size: 2.8rem;
        }

        &__text {
            padding: 0 rem(20px);
        }
    }
}
