.navigationControl {
    position: fixed;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    top: 0;
    right: 0;
    left: 0;
    text-transform: uppercase;
    display: flex;
    z-index: 3;
    justify-content: flex-end;
    transition: background-color 0.2s ease-in-out;
}
.navigationControl--overlay {
    background-color: #000;
}
.navigationControl-item {
    margin-left: 27px;
    cursor: pointer;
}
.navigationControl-item:hover {
    color: #fff49e;
}
.navigationControl-langItem {
    margin-right: 30px;
}
.navigationControl-langItem a {
    color: #9d8b02;
    text-decoration: none;
}
.navigationControl-langItem a:hover {
    color: #fff49e;
}
.navigation-langItem--active,
.navigationControl-langItem--active {
    font-weight: 500;
}
.navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 32px 24px 24px;
}
.navigation--open {
    display: block;
}
.navigation--closed {
    display: none;
}
.navigation-top {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.navigation-closeButton {
    cursor: pointer;
}
.navigation-closeButton:hover g {
    stroke: #fff49e;
}
.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}
.navigation-listItem {
    font-family: Ogg;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: -0.62px;
    line-height: 50px;
    font-style: normal;
    max-width: 600px;
}
@media (max-height: 750px), (max-width: 800px) {
    .navigation-listItem {
        font-family: Ogg;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: -0.33px;
        line-height: 1;
        font-style: normal;
        max-width: 400px;
    }
}
.navigation-langItem a,
.navigation-listItem a {
    text-decoration: none;
    color: #9d8b02;
    display: flex;
    align-items: baseline;
}
.navigation-contact a {
    text-decoration: none;
    color: #9d8b02;
}
.navigation-contact a:hover,
.navigation-langItem a:hover,
.navigation-listItem a:hover {
    text-decoration: none;
    color: #fff49e;
}
.navigation-listItemNumeral {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.23px;
    line-height: 22px;
    font-style: italic;
    margin-right: 30px;
}
@media (min-width: 600px) {
    .navigation-listItem:first-of-type {
        margin-left: 10%;
    }
    .navigation-listItem:nth-of-type(2) {
        margin-left: 30%;
    }
    .navigation-listItem:nth-of-type(3) {
        margin-left: 40%;
    }
    .navigation-listItem:nth-of-type(4) {
        margin-left: 30%;
    }
    .navigation-listItem:nth-of-type(5) {
        margin-left: 10%;
    }
}
.navigation-lang {
    margin-right: 65px;
    display: flex;
}
.navigation-langItem {
    margin-left: 30px;
    text-transform: uppercase;
}
.navigation-contact {
    align-self: flex-end;
}
@media (max-width: 560px) {
    .navigation-closeButton,
    .navigation-closeButton svg {
        height: 24px;
        width: 24px;
    }
    .navigation-lang {
        margin-right: 15px;
    }
    .navigation-langItem {
        margin-left: 15px;
    }
}
.contactFooter {
    row-gap: 8px;
    text-transform: uppercase;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.contactFooter a {
    text-decoration: none;
    color: #9d8b02;
}
@media (min-width: 758px) {
    .contactFooter-title {
        grid-column: 1;
    }
    .contactFooter-email {
        grid-column: 2 / span 6;
    }
    .contactFooter-insta {
        grid-column: 9 / span 1;
    }
    .contactFooter-fb {
        grid-column: 11 / span 1;
        grid-row: 1;
    }
    .contactFooter-yt {
        grid-column: 9 / span 1;
        grid-row: 2;
    }
    .contactFooter-li,
    .contactFooter-vimeo {
        grid-column: 10 / span 1;
    }
    .contactFooter-vimeo {
        grid-row: 2;
    }
}
@media (max-width: 758px) {
    .contactFooter {
        display: grid;
        row-gap: 22px;
        grid-template-columns: 1fr;
        text-align: center;
        font-family: aktiv-grotesk;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.68px;
        line-height: 27px;
    }
}
@font-face {
    font-family: Ogg;
    src: url(/assets/fonts/Ogg/Ogg-Regular.a1960225.eot) format("embedded-opentype"),
        url(/assets/fonts/Ogg/Ogg-Regular.72bbd0b6.woff2) format("woff2"),
        url(/assets/fonts/Ogg/Ogg-Regular.bd2ffaeb.woff) format("woff");
    font-weight: 400;
}
@font-face {
    font-family: Ogg;
    src: url(/assets/fonts/Ogg/Ogg-RegularItalic.5fd334ee.eot) format("embedded-opentype"),
        url(/assets/fonts/Ogg/Ogg-RegularItalic.372d4fde.woff2) format("woff2"),
        url(/assets/fonts/Ogg/Ogg-RegularItalic.765c6ff9.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}
.type-ag-regular-25 {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    font-style: normal;
}
.type-ag-regular-21 {
    font-style: normal;
}
.type-ag-regular-21,
.type-ag-regular-21-italic {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.25px;
}
.type-ag-regular-21-italic {
    font-style: italic;
}
.type-ag-regular-20-italic {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: normal;
}
.type-ag-regular-19-italic,
.type-ag-regular-20-italic {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-style: italic;
}
.type-ag-regular-19-italic {
    font-size: 19px;
    letter-spacing: -0.23px;
    line-height: 22px;
}
.type-ag-regular-17 {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.72px;
    line-height: 27px;
    font-style: normal;
}
.type-ag-regular-16-italic {
    letter-spacing: 0;
    line-height: 23px;
    font-style: italic;
}
.type-ag-regular-16,
.type-ag-regular-16-italic {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 16px;
}
.type-ag-regular-16 {
    letter-spacing: -0.68px;
    line-height: 27px;
    font-style: normal;
}
.type-ag-regular-15 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.18px;
    line-height: 20px;
}
.type-ag-medium-21,
.type-ag-regular-15 {
    font-family: aktiv-grotesk;
    font-style: normal;
}
.type-ag-medium-21 {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.88px;
    line-height: 25px;
}
.type-ag-medium-19 {
    font-size: 19px;
    line-height: 24px;
}
.type-ag-medium-17,
.type-ag-medium-19 {
    font-family: aktiv-grotesk;
    font-weight: 500;
    font-style: normal;
}
.type-ag-medium-17 {
    font-size: 17px;
    letter-spacing: 0.71px;
    line-height: 20px;
}
.type-ag-light-21 {
    font-size: 21px;
    letter-spacing: -0.25px;
}
.type-ag-light-15,
.type-ag-light-21 {
    font-family: aktiv-grotesk;
    font-weight: 300;
    line-height: 27px;
    font-style: normal;
}
.type-ag-light-15 {
    font-size: 15px;
    letter-spacing: -0.18px;
}
.type-ogg-regular-52 {
    font-size: 52px;
    letter-spacing: -0.62px;
    line-height: 58px;
}
.type-ogg-regular-46,
.type-ogg-regular-52 {
    font-family: Ogg;
    font-weight: 400;
    font-style: normal;
}
.type-ogg-regular-46 {
    font-size: 46px;
    letter-spacing: -0.51px;
    line-height: 70px;
}
.type-ogg-regular-30 {
    font-size: 30px;
    letter-spacing: -0.33px;
    line-height: 46px;
}
.type-ogg-regular-29,
.type-ogg-regular-30 {
    font-family: Ogg;
    font-weight: 400;
    font-style: normal;
}
.type-ogg-regular-29 {
    font-size: 29px;
    letter-spacing: -0.34px;
    line-height: 50px;
}
.type-ogg-regular-23-italic {
    font-family: Ogg;
    font-weight: 400;
    font-size: 23px;
    font-style: italic;
    letter-spacing: -0.25px;
    line-height: 35px;
}
.type-ogg-regular-19-italic {
    font-family: Ogg;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.01px;
    line-height: 31px;
    font-style: normal;
}
.type-ogg-regular-14-italic {
    font-family: Ogg;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 21px;
    font-style: italic;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1440px;
    column-gap: 24px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
.button,
body {
    color: #9d8b02;
}
.button {
    background-color: transparent;
    border: 1px solid #9d8b02;
    border-radius: 20px;
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-family: aktiv-grotesk;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: normal;
    font-style: italic;
}
.button:hover {
    color: #d3c666;
    border: 1px solid #d3c666;
}
.text-decoration-none {
    text-decoration: none;
}
body {
    background: #232023;
    font-size: 25px;
    letter-spacing: -1.17px;
    line-height: 34px;
    font-family: aktiv-grotesk;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #9d8b02;
}
.content {
    max-width: 1176px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}
h1 {
    font-weight: 400;
    font-size: 52px;
    letter-spacing: -2.42px;
    line-height: 80px;
    margin-top: 75px;
}
.bodBanner,
h1 {
    font-family: Ogg;
}
.bodBanner {
    background: url(/assets/03_somaticSexEducation/hands-on-head.270eaf2d.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-left: 24px;
    padding-right: 24px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 46px;
    letter-spacing: -0.25px;
    line-height: 52px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.bodBanner span {
    max-width: 773px;
    margin-bottom: 36px;
}
.contactBanner {
    background: url(/assets/02_origineDuMonde/purple-flower.703f9776.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-left: 24px;
    padding-right: 24px;
    height: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 2em;
    width: 100%;
    box-sizing: border-box;
}
.contactBanner-inner {
    width: 100%;
    max-width: 596px;
    font-size: 17px;
    letter-spacing: -0.79px;
    line-height: 2em;
    text-align: center;
}
.contactBanner-title {
    font-family: Ogg;
    font-size: 46px;
    letter-spacing: -0.51px;
    line-height: 70px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 26px;
}
.contactBanner-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@media (min-width: 762px) {
    .mobile-only {
        display: none;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .row img {
        object-fit: contain;
    }
    .row1 {
        margin-bottom: 187px;
    }
    .row1 img {
        width: 50%;
    }
    .row1 span {
        max-width: 406px;
        align-self: flex-end;
        padding-bottom: 45px;
        margin-left: 45px;
    }
    .row2 {
        margin-bottom: 200px;
    }
    .row2 span {
        max-width: 407px;
        padding-left: 49px;
        padding-top: 26px;
        z-index: 1;
        flex: 1;
    }
    .row2 div {
        position: relative;
        z-index: 0;
        width: 300px;
        text-align: right;
        margin-left: 48px;
    }
    .imgOverlay1 {
        position: absolute;
        right: 85px;
        top: 130px;
    }
    .row3 div {
        max-width: 456px;
        padding-right: 75px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .row3 div span {
        z-index: 1;
    }
    .img3 {
        margin-top: 54px;
        margin-right: 48px;
    }
    .imgOverlay2 {
        position: relative;
        z-index: 0;
        top: -65px;
        right: -80px;
    }
    .row4 {
        position: relative;
        margin-bottom: 192px;
        width: 100%;
    }
    .row4 span {
        padding-left: 240px;
        padding-top: 150px;
        padding-bottom: 115px;
        max-width: 405px;
        flex: 1;
        z-index: 1;
    }
    .img4 {
        position: absolute;
        display: block;
        left: -24px;
        z-index: 0;
    }
    .row4 div {
        align-self: flex-end;
        padding-bottom: 128px;
        z-index: 1;
        width: 404px;
        text-align: right;
    }
    .img6 {
        top: 128px;
        left: -65px;
    }
    .img6,
    .row5 {
        position: relative;
    }
    .row5 {
        flex-direction: column;
        padding-bottom: 118px;
        margin-bottom: 166px;
    }
    .row5-content div {
        flex: 1;
        z-index: 1;
        max-width: 451px;
    }
    .leftSide {
        margin-right: 113px;
    }
    .row5 img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    .row5-content {
        display: flex;
        width: 100%;
    }
    .row5-content .button {
        margin-top: 26px;
        margin-bottom: 26px;
    }
}
@media (max-width: 762px) {
    h1 {
        text-align: center;
    }
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .content {
        font-size: 15px;
        letter-spacing: -0.18px;
        line-height: 20px;
        padding-left: 48px;
        padding-right: 48px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .content,
    .row {
        flex-direction: column;
    }
    .row1 img,
    .row img {
        width: 100%;
    }
    .row1 img {
        display: block;
        margin-bottom: 87px;
    }
    .imgContainer {
        margin-top: 42px;
    }
    .row2 img {
        width: 100%;
    }
    .row2 span {
        display: block;
        padding-top: 47px;
    }
    .row3 img {
        display: block;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .row3 {
        margin-top: 47px;
    }
    .imgOverlay2,
    .row4 span {
        margin-top: 50px;
    }
    .row4 span {
        display: block;
    }
    .leftSide {
        margin-bottom: 2em;
    }
    .row5 img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .bodBanner {
        margin-top: 62px;
    }
    .img5 {
        max-width: 235px;
        margin-top: 50px;
    }
    .img6 {
        max-width: 164px;
        margin-bottom: 50px;
    }
    .button {
        margin: 26px auto auto;
    }
}
@media (max-width: 1024px) {
    .row4 {
        flex-direction: column;
    }
    .row4 span {
        padding-bottom: 0;
    }
}
.titleMobile {
    font-family: Ogg;
    font-size: 29px;
    letter-spacing: 0;
    line-height: 45px;
}
/*# sourceMappingURL=/about.2dfc2098.css.map */
