.navigationControl {
    position: fixed;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    top: 0;
    right: 0;
    left: 0;
    text-transform: uppercase;
    display: flex;
    z-index: 3;
    justify-content: flex-end;
    transition: background-color 0.2s ease-in-out;
}
.navigationControl--overlay {
    background-color: #000;
}
.navigationControl-item {
    margin-left: 27px;
    cursor: pointer;
}
.navigationControl-item:hover {
    color: #fff49e;
}
.navigationControl-langItem {
    margin-right: 30px;
}
.navigationControl-langItem a {
    color: #9d8b02;
    text-decoration: none;
}
.navigationControl-langItem a:hover {
    color: #fff49e;
}
.navigation-langItem--active,
.navigationControl-langItem--active {
    font-weight: 500;
}
.navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 32px 24px 24px;
}
.navigation--open {
    display: block;
}
.navigation--closed {
    display: none;
}
.navigation-top {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.navigation-closeButton {
    cursor: pointer;
}
.navigation-closeButton:hover g {
    stroke: #fff49e;
}
.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}
.navigation-listItem {
    font-family: Ogg;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: -0.62px;
    line-height: 50px;
    font-style: normal;
    max-width: 600px;
}
@media (max-height: 750px), (max-width: 800px) {
    .navigation-listItem {
        font-family: Ogg;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: -0.33px;
        line-height: 1;
        font-style: normal;
        max-width: 400px;
    }
}
.navigation-langItem a,
.navigation-listItem a {
    text-decoration: none;
    color: #9d8b02;
    display: flex;
    align-items: baseline;
}
.navigation-contact a {
    text-decoration: none;
    color: #9d8b02;
}
.navigation-contact a:hover,
.navigation-langItem a:hover,
.navigation-listItem a:hover {
    text-decoration: none;
    color: #fff49e;
}
.navigation-listItemNumeral {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.23px;
    line-height: 22px;
    font-style: italic;
    margin-right: 30px;
}
@media (min-width: 600px) {
    .navigation-listItem:first-of-type {
        margin-left: 10%;
    }
    .navigation-listItem:nth-of-type(2) {
        margin-left: 30%;
    }
    .navigation-listItem:nth-of-type(3) {
        margin-left: 40%;
    }
    .navigation-listItem:nth-of-type(4) {
        margin-left: 30%;
    }
    .navigation-listItem:nth-of-type(5) {
        margin-left: 10%;
    }
}
.navigation-lang {
    margin-right: 65px;
    display: flex;
}
.navigation-langItem {
    margin-left: 30px;
    text-transform: uppercase;
}
.navigation-contact {
    align-self: flex-end;
}
@media (max-width: 560px) {
    .navigation-closeButton,
    .navigation-closeButton svg {
        height: 24px;
        width: 24px;
    }
    .navigation-lang {
        margin-right: 15px;
    }
    .navigation-langItem {
        margin-left: 15px;
    }
}
.contactFooter {
    row-gap: 8px;
    text-transform: uppercase;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.contactFooter a {
    text-decoration: none;
    color: #9d8b02;
}
@media (min-width: 758px) {
    .contactFooter-title {
        grid-column: 1;
    }
    .contactFooter-email {
        grid-column: 2 / span 6;
    }
    .contactFooter-insta {
        grid-column: 9 / span 1;
    }
    .contactFooter-fb {
        grid-column: 11 / span 1;
        grid-row: 1;
    }
    .contactFooter-yt {
        grid-column: 9 / span 1;
        grid-row: 2;
    }
    .contactFooter-li,
    .contactFooter-vimeo {
        grid-column: 10 / span 1;
    }
    .contactFooter-vimeo {
        grid-row: 2;
    }
}
@media (max-width: 758px) {
    .contactFooter {
        display: grid;
        row-gap: 22px;
        grid-template-columns: 1fr;
        text-align: center;
        font-family: aktiv-grotesk;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.68px;
        line-height: 27px;
    }
}
@font-face {
    font-family: Ogg;
    src: url(Ogg-Regular.eot) format("embedded-opentype"), url(Ogg-Regular.woff2) format("woff2"),
        url(Ogg-Regular.woff) format("woff");
    font-weight: 400;
}
@font-face {
    font-family: Ogg;
    src: url(Ogg-RegularItalic.eot) format("embedded-opentype"), url(Ogg-RegularItalic.woff2) format("woff2"),
        url(Ogg-RegularItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}
.type-ag-regular-25 {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    font-style: normal;
}
.type-ag-regular-21 {
    font-style: normal;
}
.type-ag-regular-21,
.type-ag-regular-21-italic {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.25px;
}
.type-ag-regular-21-italic {
    font-style: italic;
}
.type-ag-regular-20-italic {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: normal;
}
.type-ag-regular-19-italic,
.type-ag-regular-20-italic {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-style: italic;
}
.type-ag-regular-19-italic {
    font-size: 19px;
    letter-spacing: -0.23px;
    line-height: 22px;
}
.type-ag-regular-17 {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.72px;
    line-height: 27px;
    font-style: normal;
}
.type-ag-regular-16-italic {
    letter-spacing: 0;
    line-height: 23px;
    font-style: italic;
}
.type-ag-regular-16,
.type-ag-regular-16-italic {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 16px;
}
.type-ag-regular-16 {
    letter-spacing: -0.68px;
    line-height: 27px;
    font-style: normal;
}
.type-ag-regular-15 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.18px;
    line-height: 20px;
}
.type-ag-medium-21,
.type-ag-regular-15 {
    font-family: aktiv-grotesk;
    font-style: normal;
}
.type-ag-medium-21 {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.88px;
    line-height: 25px;
}
.type-ag-medium-19 {
    font-size: 19px;
    line-height: 24px;
}
.type-ag-medium-17,
.type-ag-medium-19 {
    font-family: aktiv-grotesk;
    font-weight: 500;
    font-style: normal;
}
.type-ag-medium-17 {
    font-size: 17px;
    letter-spacing: 0.71px;
    line-height: 20px;
}
.type-ag-light-21 {
    font-size: 21px;
    letter-spacing: -0.25px;
}
.type-ag-light-15,
.type-ag-light-21 {
    font-family: aktiv-grotesk;
    font-weight: 300;
    line-height: 27px;
    font-style: normal;
}
.type-ag-light-15 {
    font-size: 15px;
    letter-spacing: -0.18px;
}
.type-ogg-regular-52 {
    font-size: 52px;
    letter-spacing: -0.62px;
    line-height: 58px;
}
.type-ogg-regular-46,
.type-ogg-regular-52 {
    font-family: Ogg;
    font-weight: 400;
    font-style: normal;
}
.type-ogg-regular-46 {
    font-size: 46px;
    letter-spacing: -0.51px;
    line-height: 70px;
}
.type-ogg-regular-30 {
    font-size: 30px;
    letter-spacing: -0.33px;
    line-height: 46px;
}
.type-ogg-regular-29,
.type-ogg-regular-30 {
    font-family: Ogg;
    font-weight: 400;
    font-style: normal;
}
.type-ogg-regular-29 {
    font-size: 29px;
    letter-spacing: -0.34px;
    line-height: 50px;
}
.type-ogg-regular-23-italic {
    font-family: Ogg;
    font-weight: 400;
    font-size: 23px;
    font-style: italic;
    letter-spacing: -0.25px;
    line-height: 35px;
}
.type-ogg-regular-19-italic {
    font-family: Ogg;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.01px;
    line-height: 31px;
    font-style: normal;
}
.type-ogg-regular-14-italic {
    font-family: Ogg;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 21px;
    font-style: italic;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1440px;
    column-gap: 24px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
.button,
body {
    color: #9d8b02;
}
.button {
    background-color: transparent;
    border: 1px solid #9d8b02;
    border-radius: 20px;
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-family: aktiv-grotesk;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: normal;
    font-style: italic;
}
.button:hover {
    color: #d3c666;
    border: 1px solid #d3c666;
}
.text-decoration-none {
    text-decoration: none;
}
body {
    background-color: #0f1214;
}
.interviewsHeader {
    position: relative;
    height: 100vh;
    font-family: Ogg;
    font-size: 52px;
    letter-spacing: -0.57px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interviewsHeader-text {
    z-index: 2;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    color: #d2ba3b;
}
.interviewsHeader-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.interviewsHeader-video,
.interviewsHeader-videoOverlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.interviewsHeader-videoOverlay {
    background-color: rgba(0, 0, 122, 0.2);
}
@media (max-width: 700px) {
    .interviewsHeader {
        height: 400px;
        font-family: Ogg;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: -0.33px;
        line-height: 46px;
        font-style: normal;
    }
}
.interviewsIntro {
    max-width: 729px;
    font-size: 25px;
    letter-spacing: -1.07px;
    line-height: 34px;
    font-family: aktiv-grotesk;
    font-weight: 400;
    margin: 123px auto 117px;
}
.interviewsIntro,
.interviewsVideos {
    padding-left: 24px;
    padding-right: 24px;
}
.interviewsVideos {
    max-width: 1135px;
    margin: auto;
}
.interviewsVideos-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 68px;
}
.interviewsVideos-text {
    flex: 1;
    font-family: aktiv-grotesk;
    font-size: 19px;
    letter-spacing: 0.11px;
    line-height: 25px;
    font-weight: 400;
    max-width: 729px;
    margin-bottom: 32px;
}
.interviewsVideos-video {
    width: 100%;
    max-width: 620px;
    height: 300px;
}
@media (min-width: 1170px) {
    .interviewsVideos-row {
        flex-direction: row;
        margin-bottom: 225px;
    }
    .interviewsVideos-text {
        margin-bottom: 0;
    }
    .interviewsVideos-row--left .interviewsVideos-text {
        margin-left: 66px;
        order: 2;
    }
    .interviewsVideos-row--right .interviewsVideos-text {
        margin-right: 66px;
    }
    .interviewsVideos-row--center {
        flex-direction: column;
    }
    .interviewsVideos-row--center .interviewsVideos-text {
        max-width: 802px;
        margin-top: 32px;
        order: 2;
    }
    .interviewsVideos-row--center .interviewsVideos-video {
        max-width: 802px;
        height: 451px;
    }
    .interviewsVideos-video {
        height: 350px;
    }
}
.interviewsVideos-text h2 {
    font-family: Ogg;
    font-size: 46px;
    letter-spacing: 1.4px;
    line-height: 70px;
    margin: 0 0 17px;
    padding: 0;
    font-weight: 400;
}
.interviewsThanks {
    font-family: aktiv-grotesk;
    font-size: 21px;
    letter-spacing: -0.9px;
    line-height: 27px;
    font-weight: 400;
    max-width: 662px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto auto 150px;
}
.interviewsLogos {
    background-color: #171b1d;
    padding-top: 42px;
    padding-bottom: 42px;
    margin-bottom: 100px;
}
.interviewsLogos-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 32px 24px;
}
.logoCalq {
    width: 204px;
}
.logoCca {
    max-width: 357px;
    width: 100%;
}
.logoThc {
    width: 158px;
}
.logoSacd {
    width: 117px;
    height: 84px;
}
.logoGoethe {
    width: 217px;
}
@media (max-width: 700px) {
    .interviewsLogos-row {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
    }
    .interviewsLogos img {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
/*# sourceMappingURL=/interviews.css.map */
