@import "/src/assets/styles/common";

.bodywork {
    background-color: #232023;
    font-family: $primary-font-family;
    color: $site-color;
    font-size: 2rem;
    line-height: 2.5rem;

    &__header {
        @include flex-center;
        background: url(/assets/images/hands-on-head.jpg);
        background-size: cover;
        background-position: 50%;
        flex-direction: column;
        font-size: 4rem;
        font-family: $secondary-font-family;
        line-height: 5rem;
        min-height: 90vh;
        padding: 0 24px;
        text-align: center;
    }

    &__content {
        margin: auto;
        max-width: 696px;
        padding: 54px 120px 123px 24px;
    }

    &__contact {
        border-bottom: 1px solid $site-color;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    h2 {
        margin: 2rem 0;
    }
    p {
        margin-bottom: 10px;
    }
}
