@import "/src/assets/styles/common";

.bodywork {
    background-color: #232023;
    font-family: $primary-font-family;
    color: $site-color;
    font-size: $text-md;
    line-height: 2.5rem;

    &__header {
        @include flex-center;
        @include header;
        background: url(/assets/images/hands-on-head.jpg);
        background-size: cover;
        background-position: 50%;
        flex-direction: column;
        font-size: $text-lg * 2;
        line-height: 5rem;
        min-height: 100vh;
        padding: 0 $space-lg;
        text-align: center;
        text-shadow: $text-shadow;

        div {
            font-size: $text-xxl;
        }
    }

    &__content {
        margin: 0 auto;
        max-width: 696px;
        padding: 0 $space-lg;
    }

    &__contact {
        border-bottom: 1px solid $site-color;
        margin-bottom: $space-md;
        padding-bottom: $space-md;
    }

    &__message {
        font-style: italic;
    }

    h2 {
        margin: $space-lg 0;
    }

    p {
        margin-bottom: $space-md;
    }

    a {
        @include anchor;
    }

    @media (max-width: 768px) {
        font-size: $text-sm;

        &__content,
        &__header {
            padding: 0 $space-sm;
        }

        &__header {
            font-size: $text-xxl;

            div {
                font-size: $text-xl;
            }
        }
    }
}
