@import "/src/assets/styles/common";

.homepage {
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 0%) 6%,
        hsl(210deg 100% 0%) 28%,
        hsl(200deg 100% 1%) 37%,
        hsl(210deg 67% 1%) 42%,
        hsl(204deg 71% 1%) 46%,
        hsl(206deg 78% 2%) 50%,
        hsl(207deg 82% 2%) 52%,
        hsl(204deg 83% 2%) 54%,
        hsl(207deg 73% 3%) 56%,
        hsl(208deg 76% 3%) 58%,
        hsl(206deg 78% 4%) 60%,
        hsl(210deg 80% 4%) 61%,
        hsl(208deg 81% 4%) 63%,
        hsl(208deg 83% 5%) 64%,
        hsl(210deg 77% 5%) 65%,
        hsl(209deg 78% 5%) 67%,
        hsl(209deg 79% 6%) 69%,
        hsl(209deg 81% 6%) 71%,
        hsl(208deg 81% 6%) 73%,
        hsl(209deg 77% 7%) 77%,
        hsl(208deg 78% 7%) 82%,
        hsl(208deg 79% 7%) 95%
    );
    height: 100%;
    margin: 0;
    color: $site-color;

    &__content--header {
        position: relative;
        height: 100vh;
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 400px;
    }
    &__title--header {
        align-items: center;
        color: #9d8b02;
        display: flex;
        flex: 1;
        font-size: rem(17px);
        justify-content: space-between;
        max-width: 726px;
        padding: 0 rem(24px) rem(275px);
        text-transform: uppercase;
        z-index: 1;
    }
    &__spacer--header {
        flex: 1;
    }
    &__video--header {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        margin-top: 40px;
    }
    @media (max-width: 446px) {
        &__content--header {
            height: 80vh;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            padding-top: 134px;
            box-sizing: border-box;
            align-items: flex-start;
        }
        &__spacer--header {
            width: 20px;
        }
        &__video--header {
            min-height: 30vh;
            object-fit: cover;
        }
    }
    &__content--about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #9d8b02;
        padding: 162px 24px;
        position: relative;
        overflow: hidden;
    }
    .indexAbout-text,
    &__spacer--about {
        z-index: 2;
    }
    &__video--about {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        object-fit: cover;
        object-position: bottom left;
        width: 100%;
    }
    &__text--about {
        text-align: center;
        max-width: 696px;
        z-index: 2;
    }
    &__spacer--about {
        height: 26px;
    }
    @media (max-width: 470px) {
        &__content--about {
            padding-top: 80px;
            padding-bottom: 216px;
            background-position: 0 100%;
            background-size: 544px;
        }
        &__text--about {
            font-family: aktiv-grotesk;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: -0.18px;
            line-height: 20px;
        }
    }
}
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 156px 24px 134px;
}
.subscribe__title {
    margin-bottom: 16px;
    text-align: center;
}
.subscribe__text {
    max-width: 592px;
    text-align: center;
}
.subscribe__form {
    margin-top: 64px;
    max-width: 504px;
    width: 100%;
}
.subscribe__form input:not([type="submit"]),
.subscribe__form select {
    width: 100%;
    margin-bottom: 25px;
    display: block;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #9d8b02;
    padding: 32px 26px;
    color: #fff49e;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    font-family: aktiv-grotesk;
    font-weight: 300;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.25px;
}
.subscribe__form select {
    text-transform: uppercase;
}
.subscribe__form select:invalid {
    color: #9d8b02;
}
.subscribe__form input:focus,
.subscribe__form select:focus {
    border-color: #fff49e;
}
.subscribe__form input::placeholder {
    color: #9d8b02;
    text-transform: uppercase;
}
.subscribe__form input[type="submit"] {
    font-family: aktiv-grotesk;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
    font-style: italic;
    margin: auto;
}
@media (max-width: 446px) {
    .subscribe {
        padding-top: 106px;
        padding-bottom: 115px;
    }
    .subscribe__title {
        font-family: Ogg;
        font-weight: 400;
        font-size: 29px;
        letter-spacing: -0.34px;
        line-height: 50px;
    }
    .subscribe__text {
        font-weight: 400;
        line-height: 20px;
    }
    .subscribe__form,
    .subscribe__text {
        font-family: aktiv-grotesk;
        font-size: 15px;
        letter-spacing: -0.18px;
    }
    .subscribe__form {
        font-weight: 300;
        line-height: 27px;
    }
    .subscribe__form input:not([type="submit"]),
    .subscribe__form select {
        font-family: aktiv-grotesk;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: -0.18px;
        line-height: 27px;
    }
    .subscribe__form input[type="submit"] {
        font-family: aktiv-grotesk;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: normal;
        font-style: italic;
    }
}
