@import "/src/assets/styles/common";

.homepage {
    background-color: $black;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;

    &__background {
        bottom: 0;
        left: 50%;
        max-width: 600px;
        position: fixed;
        transform: translate(-50%, 0);
        width: 100%;
    }

    &__container {
        display: flex;
        max-width: 1440px;
        width: 100%;
    }
    
    &__img-1 {
        height: 135px;
        left: 30px;
        position: relative;
        top: 30px;
        width: 130px;
    }
    &__img-2 {
        height: 200px;
        width: 320px;
    }
    &__img-3 {
        bottom: 20px;
        height: 135px;
        left: 80px;
        position: relative;
        width: 160px;
    }
    &__img-4 {
        height: 210px;
        width: 280px;
    }

    &__parallax-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 $space-xl * 2;
        width: 100%;
        z-index: 2;
    }

    &__parallax-child {
        @include flex-center;

        &:first-of-type{
            justify-content: flex-start;
            margin-top: $space-xxl * 2;
        }
        &:last-of-type{
            justify-content: flex-end;
        }
    }


    @media (max-width: 768px) {
        &__parallax-container {
            display: none;
        }
    }
}
