@import "/src/assets/styles/common";

.homepage {
    @include gradientHomepage;
    height: 100%;
    margin: 0;
    color: $site-color;
    font-family: $primary-font-family;

    &__header {
        @include flex-center;
        position: relative;
        height: 100vh;
        padding-top: rem(40px);
        width: 100%;
        min-height: rem(400px);
    }
    &__title {
        align-items: center;
        color: #9d8b02;
        display: flex;
        flex: 1;
        font-size: rem(17px);
        justify-content: space-between;
        max-width: rem(726px);
        padding: 0 rem(24px) rem(275px);
        text-transform: uppercase;
        z-index: 1;
    }
    &__spacer--header {
        flex: 1;
    }
    &__video--banner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        margin-top: rem(40px);
    }
    @media (max-width: 446px) {
        &__header {
            height: 80vh;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            padding-top: rem(134px);
            box-sizing: border-box;
            align-items: flex-start;
        }
        &__spacer--header {
            width: rem(20px);
        }
        &__video--banner {
            min-height: 30vh;
            object-fit: cover;
        }
    }
    &__content {
        @include flex-center;
        height: 47.5rem;
        padding: 2rem;
        position: relative;
        overflow: hidden;
    }

    &__spacer--about {
        z-index: 2;
    }

    &__video--about {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        object-fit: cover;
        object-position: bottom left;
        width: 100%;
    }

    &__text {
        font-size: rem(21px);
        max-width: rem(696px);
        text-align: center;
        z-index: 2;

        p:first-of-type {
            margin-bottom: 1rem;
        }
    }

    @media (max-width: 470px) {
        &__content {
            background-position: 0 100%;
            background-size: rem(544px);
        }
        &__text {
            font-size: rem(15px);
            letter-spacing: -0.18px;
            line-height: rem(20px);
        }
    }

    @media (min-width: 1440px) {
        &__content {
            margin-top: 4rem;
        }
    }
}
