@import "/src/assets/styles/common";

.mailchimp-form {
    margin: $space-lg 0;

    &__form {
        padding: 0 $space-md;
        max-width: 500px;
        margin: 0 auto;
        width: 100%;
    }

    &__input {
        @include input;
    }

    &__input--submit {
        @include button;
        margin: 0 auto;
    }

    &__status-message {
        @include flex-center;
        height: 50px;
        margin-bottom: $space-md;
        padding: 0 $space-sm;
        width: 100%;
    }

    select {
        @include select-arrow;
        cursor: pointer;
        text-transform: uppercase;
    }

    svg {
        @include spinning-loader;
        margin-top: 0;
    }

    @media (max-width: 446px) {
        font-size: $text-sm;

        &__input {
            font-size: $text-sm;
        }

        &__status-message {
            font-size: $text-xs;
        }
    }
}
