@import "/src/assets/styles/common";

.mailchimp-form {
    margin-top: $space-xl;
    &__form {
        padding: 0 $space-md;
        max-width: 500px;
        width: 100%;
    }

    &__input {
        @include input;
    }

    &__input--submit {
        @include button;
        margin: 0 auto;
    }

    select {
        @include select-arrow;
        cursor: pointer;
        text-transform: uppercase;
    }

    @media (max-width: 446px) {
        font-size: $text-sm;

        &__input {
            font-size: $text-sm;
        }
    }
}
